.body{

    position: absolute;
    width: 1280px;
    height: 1626px;
    left: calc(50%-1280px/2);
    top: calc(50%-1626px/2);;
  }
  .container {
     width: 100%;
    padding: 0 15px;
    max-width: 1280px;
    margin: 0 auto;
  
  }
  
  .nav{
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
  }
  .nav_link{
    display:inline-block;
    vertical-align: top;
    margin: 30px;
    justify-content: space-between;
    position: relative;
    color: rgb(232, 31, 31);
    text-decoration: none;
    transition: color.2s linear;
  
  }
  .nav_link::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    background-color:#fce38a;
    position: absolute;
    top:100%;
    left: 0;
    z-index: 1;
   transition:opacity .1 linear;
  }
  .nav_link:hover {
    color: #95fc8a;
  }
  .nav_link:hover:after
  {
   opacity: 1;
  }
  .img{
    
    width: 100%;
    height: 789px;
    left: 0;
    top: 78px;
    display: block;
    /*margin: 0 auto;*/
  }
  .main{
    font-family: Montserrat;
    /*width: 1145px;*/
    width: 100%;
    height: 132px;
    top: 115px;
    left: 67.5px;
 
  }
  .h2{
font-size: 22px;
font-weight: 700;
line-height: 27px;
letter-spacing: 3.299999952316284px;
text-align: center;
  }
  .p{
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    width: 1145px;
    /*height: 216px;*/
    left: 67.5px;
    top: 0px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 2.4px;
text-align: center;
color:#373737;
  }
  .button{
    width: 191px;
    height: 51px;
    /*display: flex;*/
    position: absolute;
    place-items: center;
    width: 191px;
    height: 51px;
    left: 544.5pt;
    background: #ff0000;
    border-radius: 4pt;

  }
  .footer{
    position: relative;
   top: 100px;
   left: 40px;
    width: 462px;
    height: 39px;
    left:calc(50%-1280px/2);
   bottom: 100px;
  }
  .quote{
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    position: relative;
    height: 39px;
    width: 462px;
    left: 800px;
    top: 0px;
    line-height: 30px;
    display: flex;
    text-align: center;
    letter-spacing: 2.4px;
  }
  @media(max-width:990px){
     .img{
      max-height: 650px;
    }
    .p{
      width: 100%;
     font-size: 15px;
    
    }
    .button{
      left: 250.5pt;
  
    }
    .quote{
      left: 200px;
    }
  }
  @media(max-width:770px){
    
    .img{
      max-height: 500px;
      max-width: 400px;
      
    }
    .p{
       max-width: 300px;
    }
    .button{
      place-items: center;
      left: 100.5pt;
    }
    .quote{
      left: 0px ;
    }
  }